# Ignore directories with generated data
/data/raw/*
!/data/raw/.gitkeep
/data/processed/*
!/data/processed/.gitkeep

# Ignore logs, models, and reports
/logs/*
!/logs/.gitkeep
/models/*
!/models/.gitkeep
/reports/*
!/reports/.gitkeep

# Ignore Python cache and Jupyter checkpoints
__pycache__/
.ipynb_checkpoints/
*.pyc
